#preload-01 { background: url(../img/manuais/thumb1-2.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(../img/manuais/thumb2-2.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(../img/manuais/thumb3-2.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(../img/manuais/thumb4-2.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(../img/manuais/thumb5-2.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(../img/manuais/thumb6-2.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(../img/manuais/thumb7-2.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(../img/manuais/thumb8-2.png) no-repeat -9999px -9999px; }
#preload-09 { background: url(../img/manuais/thumb9-2.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(../img/manuais/thumb10-2.png) no-repeat -9999px -9999px; }